/* .filter-form {
    background: rgba(234, 254, 30, 0.2);
    box-shadow: inset 0 0 0 2px rgb(234, 254, 30);
}

.filter-checkbox,
.filter-range {
    background: rgba(100, 254, 30, 0.2);
    box-shadow: inset 0 0 0 2px rgb(100, 254, 30);
}

.filter-checkbox legend,
.filter-range legend {
    background: rgba(100, 154, 230, 0.2);
    box-shadow: inset 0 0 0 2px rgb(100, 154, 230);
}

.filter-checkbox label,
.filter-range label {
    background: rgba(200, 54, 230, 0.2);
    box-shadow: inset 0 0 0 2px rgb(200, 54, 230);
}

.filter-checkbox input,
.filter-range input {
    background: rgba(100, 254, 130, 0.2);
    box-shadow: inset 0 0 0 2px rgb(100, 254, 130);
}

.price-controls,
.range-controls {
    background: rgba(200, 54, 130, 0.2);
    box-shadow: inset 0 0 0 2px rgb(200, 54, 130);
}

 */