/* .catalog {
    background: rgba(234, 254, 30, 0.2);
    box-shadow: inset 0 0 0 2px rgb(234, 254, 30);
}

.sort-wrapper {
    background: rgba(100, 254, 30, 0.2);
    box-shadow: inset 0 0 0 2px rgb(100, 254, 30);
}

.sort-wrapper-columns {
    background: rgba(30, 254, 100, 0.2);
    box-shadow: inset 0 0 0 2px rgb(30, 254, 100);
}

.sort-result {
    background: rgba(100, 154, 230, 0.2);
    box-shadow: inset 0 0 0 2px rgb(100, 154, 230);
}

.sort-wrapper p {
    background: rgba(10, 100, 100, 0.2);
    box-shadow: inset 0 0 0 2px rgb(10, 100, 100);
}

.sort-type-list,
.sort-direction-list {
    background: rgba(200, 54, 230, 0.2);
    box-shadow: inset 0 0 0 2px rgb(200, 54, 230);
}

.sort-type-item,
.sort-direction-item {
    background: rgba(100, 254, 130, 0.2);
    box-shadow: inset 0 0 0 2px rgb(100, 254, 130);
} */

/* .price-controls,
.range-controls {
    background: rgba(200, 54, 130, 0.2);
    box-shadow: inset 0 0 0 2px rgb(200, 54, 130);
}
 */